body{
    width: 1024px;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;

}


#container{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

h1, h2{
    text-align: center;
}
h5{
    text-align: right;
    padding-right: 10px;
}
#infoPerso{
    width:  38%;
    border: 1px solid black;
    border-radius: 30px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

#infoPerso img {
    width:  120px;
    margin: 3px;
    /* border: 1px solid; */
}

#infoPerso table {
    /* border: 1px solid; */
    vertical-align: middle;
    font-size: 15px;
    margin: auto;
}

#infoPerso table .icone {
    width:  20px;

}
.retoucheEmail{
    margin-bottom: -15px;
}



#posteRechercher{
    width:  58%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 3px;
}
#posteRechercher p{
    margin: 5px;
    margin-top: 50px;
    text-align: center;
}


#diversInformations{
    width:  28%;
    /* border: 1px solid black; */
}

#diversInformations .details{
    border-radius: 10px;
    border: 1px solid black;
    min-height: 100px;
    margin-bottom: 5px;
    padding: 5px;

}

.details table {
    width: 100%;
    text-align: center;
}
.details p {
    text-align: center;
}



#experiences{
    width:  68%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#experiences h2, #diversInformations .details h2{
    border-bottom: 2px solid black;
    margin: 0 20px;
    padding: 3px;
}
#experiences .poste{
    /* border: 1px solid black; */
    margin-top: 5px;
}
#experiences .poste .postePartieH{
    display: flex;
}
#experiences .poste .logos{
    width: 150px;
    height: 90px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#experiences .poste .infoPoste{
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoPoste h3, .infoPoste h4{
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 10px;
}
.descriptif{
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 10px;
}
#experiences .poste .unLogo img{
    height: 90%;
}
#experiences .poste .deuxLogos img{
    height: 45%;
}








#formations{
    width:  98.5%;
    /* height: 300px; */
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

#formations .titreVercical{
    border-left: 2px solid black;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 5px;
}
#formations .effFormation{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    font-size: 15px;
}
#formations .presFormation{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
}



